:root {
  --white: #fff;
  --black: #000;
  --drkgray: grey;
  --gray: darkgrey;
}

body {
  font-family: sans-serif;
  width: 100%;
}

header {
  padding: 10px;
  background-color: var(--gray);
  color: var(--black);
  height: 85px;
}

.logo {
  float: left;
  margin-left: 10px;
  height: 65px;
  width: 65px;
}

header h1 {
  float: left;
  margin-top: 13px;
  margin-left: 20px;
  font-size: 36px;
}

header nav {
  float: right;
}

header nav li {
  margin-top: 24px;
  display: inline-block;
  margin: 23 10 0 5;
}

/*this selector gives the nav buttons styling*/
header a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--drkgray);
  padding: 3px 5px;
  border: 1px;
  border-radius:5px;
}

/*this selector changes the color of nav buttons on hover*/
header a:hover {
  background-color: var(--black);
  color: var(--white);
}

section {
  margin: 0 0 60 0;
  padding: 0 80 0 90;
}

h2 {
  font-size: 32px;
  width: 200px;
  margin: 65 0 14 65;
}

section p {
  line-height: 1.5;
  font-size: 16px;
  line-height: 25px;
}

/*/*this selector displays the projects i choose for this application.*/
#workgrid {
  display: grid;
  grid-template-areas: 
    "item1 item2";
  grid-template-rows: 100%;
  grid-template-columns: 54%;
  column-gap: 15px;
  background-color: var(--gray);
  padding: 15 30 30 30;
  
}

.works p {
  font-size: larger;
  font-weight: bold;
}

#seopicture {
  width: 100%;
  object-fit: fill;
}

#preworkpicture {
  width: 100%;
  object-fit: fill;
}

#item1 {
  position: relative;
  align-self: center;
  text-align: center;
}

#item2 {
  position: relative;
  align-self: center;
  text-align: center;
}

#item1:hover {
  background-color: var(--drkgray);
  padding: 0 14 14 14;
  
}

#item2:hover {
  background-color: var(--drkgray);
  padding: 0 14 14 14;
}

#contactme {
  text-align: center;
}

.contacth2 {
  display: inline-block;
  align-items: center;
  margin: 30 30;
}

#contactme li {
  align-items: center;
  list-style-type: none;
  display: inline-block;
  margin: 3% 3%;
}

#contactme ul li a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--drkgray);
  padding: 3px 5px;
  border: 1px;
  border-radius:5px;
}

#contactme a:hover {
  background-color: var(--black);
  color: var(--white);
}

footer {
  color: var(--black);
  font-size: large;
  text-align: center;
  padding: 0 0 25 0;
} 

/*this selector gives the page the ability to respond to different devices and screen size.*/
@media screen and (max-width: 768px) {
  
  .works {
    padding: 0 6%;
  }
  
  /*this selector turns the grid to a portrait orientation.*/
  #workgrid {
    display: grid;
    grid-template-areas: 
      "item1" 
      "item2";
    grid-template-rows: 50%;
    grid-template-columns: 100%;
    row-gap: 15px;
    background-color: var(--gray);
    padding: 15 30 30 30;
  }

  #item1 {
    right: 3.8%;
    width: 108%;
  }

  #header {
    align-items: center;
    text-align: center;
  }

  #header nav {
    float: none;
    display: inline-block;
    top: 80px;
    width: 100%;
  }

  #header nav li {
  list-style-type: none;
  margin-left: 3%;
  margin-right: 3%;
  }
  
}