:root {
  --white: #fff;
  --black: #000;
  --drkgray: grey;
  --gray: darkgrey;
}

body {
  font-family: sans-serif;
  width: 100%;
}

header {
  padding: 10px;
  background-color: var(--gray);
  color: var(--black);
  height: 85px;
}

.logo {
  float: left;
  margin-left: 10px;
  height: 65px;
  width: 65px;
}

header h1 {
  float: left;
  margin-top: 13px;
  margin-left: 20px;
  font-size: 36px;
}

header nav {
  float: right;
}

header nav li {
  margin-top: 24px;
  display: inline-block;
  margin: 23 10 0 5;
}

header a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--drkgray);
  padding: 3px 5px;
  border: 1px;
  border-radius:5px;
}

header a:hover {
  background-color: var(--black);
  color: var(--white);
}

section {
  margin: 0 0 60 0;
  padding: 0 80 0 90;
}

h2 {
  font-size: 32px;
  width: 200px;
  margin: 65 0 14 65;
}

section p {
  line-height: 1.5;
  font-size: 16px;
  line-height: 25px;
}

#workgrid {
  display: grid;
  grid-template-areas: 
    "item1 item2";
  grid-template-rows: 100%;
  grid-template-columns: 54%;
  column-gap: 15px;
  background-color: var(--gray);
  padding: 15 30 30 30;
  
}

.works p {
  font-size: larger;
  font-weight: bold;
}

#seopicture {
  width: 100%;
  object-fit: fill;
}

#preworkpicture {
  width: 100%;
  object-fit: fill;
}

#item1 {
  position: relative;
  align-self: center;
}

#item2 {
  position: relative;
  align-self: center;
}

#item1:hover {
  background-color: var(--drkgray);
  padding: 0 14 14 14;
  
}

#item2:hover {
  background-color: var(--drkgray);
  padding: 0 14 14 14;
}

#contactme {
  text-align: center;
}

.contacth2 {
  display: inline-block;
  align-items: center;
  margin: 30 30;
}

#contactme li {
  align-items: center;
  list-style-type: none;
  display: inline-block;
  margin: 3% 3%;
}

#contactme ul li a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--drkgray);
  padding: 3px 5px;
  border: 1px;
  border-radius:5px;
}

#contactme a:hover {
  background-color: var(--black);
  color: var(--white);
}

footer {
  color: var(--black);
  font-size: large;
  text-align: center;
  padding: 0 0 25 0;
} 

@media screen and (max-width: 768px) {
  
  .works {
    padding: 0 6%;
  }
  
  #workgrid {
    display: grid;
    grid-template-areas: 
      "item1" 
      "item2";
    grid-template-rows: 50%;
    grid-template-columns: 100%;
    row-gap: 15px;
    background-color: var(--gray);
    padding: 15 30 30 30;
  }
  
}

@media screen and (max-width: 650px) {

  #header {
    text-align: center;
  }

  #header nav {
    float: none;
    align-items: center;
    display: inline-block;
    top: 80px;
    width: 100%;
  }

  #header nav li {
  list-style-type: none;
  margin-left: 3%;
  margin-right: 3%;
  }
  
}





/*
nav {
    align-items: center;
    padding: 18 0 10 0;
  }

  nav li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin: 3% 3%;
  }



























/*
body, .header, main {
    width: 100%;
    display: inline-block;
    }
    
    #aboutme {
      display: flex;
      flex-wrap: wrap;
    }

    #workgrid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    }

    #item1, #item2 {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      max-width: 768px;
    }

    #item1 img, #item2 img {
      max-width: 90%;
      display: flex;
      align-items: flex-start;
    }

    nav {
      position: fixed;
      top: 90px;
      width: 300px;
    }
    
    #contactme {
      position: relative;
    }
*/













/*
 li  {
 
  color: 000;
}
nav ul {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 2%;
  width: 300px;
}
h1 {
  font-size: 200%;
}
h2 {
  margin: 2% 0;
  font-size: 250%;
}
nav a {
  color: #b9C6ae;
  font-weight: bold;
  text-decoration: none;
}


display: flex;
    flex-direction:column;
section {
    padding-right: 0;



@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
#seopicture {
      max-width: 768px;
    }
    
    
    
    #preworkpicture
