:root {
  --white: #fff;
  --black: #000;
  --drkgray: grey;
  --gray: darkgrey;
}

body {
  font-family: sans-serif;
  width: 100%;
}

header {
  padding: 10px;
  background-color: var(--gray);
  color: var(--black);
  height: 85px;
}

.logo {
  float: left;
  margin-left: 10px;
  height: 65px;
  width: 65px;
}

header h1 {
  float: left;
  margin-top: 13px;
  margin-left: 20px;
  font-size: 36px;
}

header nav {
  float: right;
}

header nav li {
  margin-top: 24px;
  display: inline-block;
  margin: 23 0 0 15;
}

header a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--drkgray);
  padding: 3px 5px;
  border: 1px;
  border-radius:5px;
}

header a:hover {
  background-color: var(--black);
  color: var(--white);
}

section {
  width: 100%; 
  margin: 0 0 60 0;
  padding: 0 80 0 90;
}

h2 {
  font-size: 32px;
  width: 200px;
  margin: 65 0 14 65;
}

section p {
  line-height: 1.5;
  font-size: 16px;
}

.mywork {
  width: 100%;
}

#workgrid {
  display: grid;
  
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: var(--gray);
  padding: 10 0 30 40;
  
}

.mywork p {
  font-weight: bold;
}

#seopicture {
  max-width: 600px;
  margin-right: 20px;
}

#preworkpicture {
 max-width: 450px;
}

#item1 {
  position: relative;
  justify-self: center;
}

#item2 {
  position: relative;
  justify-self: center;
}

#item1:hover {
  background-color: var(--drkgray);
  padding: 0 0 14 18;
}

#item2:hover {
  background-color: var(--drkgray);
  padding: 0 14 14 14;
}



















/*
 li  {
 
  color: 000;
}
nav ul {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 2%;
  width: 300px;
}
h1 {
  font-size: 200%;
}
h2 {
  margin: 2% 0;
  font-size: 250%;
}
nav a {
  color: #b9C6ae;
  font-weight: bold;
  text-decoration: none;
}



@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
